@model IEnumerable<Loja.Models.Produto>

@{
    ViewBag.Title = "Home Page";
}

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var produto in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@produto.Descricao</a>
                        </h4>
                        <h5>@string.Format("{0:C2}", produto.Preco)</h5>
                        <p class="card-text">@produto.Descricao</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success" href="/Carrinho/Adicionar/@produto.Id"> Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>
        }
    </div>
}